<a href="#/articles">Accueil</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ajouter un article</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addArticle()">
        <div class="form-group">
          <label>Titre</label>
          <input type="text" class="form-control" ng-model="article.title" placeholder="Title">
        </div>
        <div class="form-group">
          <label>Auteur</label>
          <input type="text" class="form-control" ng-model="article.author" placeholder="Author">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="article.description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label>Image URL</label>
          <input type="text" class="form-control" ng-model="article.image_url" placeholder="Image URL">
        </div>
       <div class="align-center">
        <button type="submit" class="btn btn-default">Valider</button>
       </div>
      </form>
    </div>
    </div>
  </div>
</div>