

<hr>
<div class="row">
    <div class="col-md-4 col-md-offset-4">

      <form method="post" action="/register" class="form-horizontal">
      
        <h1>CREATION DE COMPTE</h1>
          <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span> 
               <input type="text" class="form-control" placeholder="Nom" name="nom">
            </div>
          </div>
          <div class="form-group">
           <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                <input type="text" class="form-control" placeholder="Prenom" name="prenom">
           </div>
          </div>
          <div class="form-group">
             <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                <input type="email" class="form-control" placeholder="example@example.com" name="email">
             </div>
          </div>
          <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                <input type="text" class="form-control" placeholder="Nom d'utilisateur'" name="identifiant">
            </div>
          </div>
          <div class="form-group">
             <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                <input type="password" class="form-control" placeholder="Mot de passe" name="motdepasse">
             </div>
          </div>
          <div class="form-group">
             <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                <input type="password" class="form-control" placeholder="Confirmer mot de passe" name="motdepasse_2">
             </div>
          </div>
          <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn btn-default">Valider</button>
          </div>
           <hr>
            <div class="bottom text-center">
                Déjà inscris ? <a href="#/login"><b>Connectez-vous !</b></a>
            </div>
      </form>
    </div>
</div>