<hr>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-horizontal" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
             <h1>AUTHENTIFICATION</h1>

                 <div class="bottom text-center">
                    <label> Se connecter avec </label>
                </div>

                <div class="bottom text-center">
                    <div class="social-buttons">
                        <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                        ou
                        <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
             </div>
            <hr>
    
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                    <input type="text" class="form-control" id="username" placeholder="Nom d'utilisateur'" required>
                </div>
            </div>
            <div class="form-group">
                 <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                    <input type="password" class="form-control" id="password" placeholder="Mot de passe" required>
                 </div>
                <div class="help-block text-left"><a href="">Forget the password ?</a></div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Se connecter</button>     
            </div>
            
            <div class="text-center">
                <div class="checkbox ">
                    <label>
                    <input type="checkbox"> Rester connecté(e)
                    </label>
                </div>
            </div>
             <hr>
            <div class="bottom text-center">
                Nouveau ici ? <a href="#/register"><b>Rejoins nous</b></a>
            </div>
        </form>
 </div>
 </div>
 </hr>
