<a href="#/users">Accueil</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Modifier l'utilisateur</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="updateUser()" ng-init="getUser()">
        <div class="form-group">
          <label>Prenom</label>
          <input type="text" class="form-control" ng-model="user.prenom" placeholder="Prenom">
        </div> 
        <div class="form-group">
          <label>Nom</label>
          <input type="text" class="form-control" ng-model="user.nom" placeholder="Nom">
        </div>
         <div class="form-group">
          <label>Sexe</label>
          <select ng-model="user.sexe" class="form-control">
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
            <option value="Autre">Autre</option>
          </select>
        </div>
        <div class="form-group">
          <label>Age</label>
          <input type="text" class="form-control" ng-model="user.age" placeholder="Age">
        </div>
        <div class="form-group">
          <label>Numero de compte</label>
          <input type="text" class="form-control" ng-model="user.numero_compte" placeholder="Numero de compte">
        </div>
         <div class="form-group">
          <label>Image URL</label>
          <input type="text" class="form-control" ng-model="user.image_url" placeholder="Image URL">
        </div>
        <div class="form-group">
          <label>Identifiant</label>
          <textarea class="form-control" ng-model="user.identifiant" placeholder="identifiant"></textarea>
        </div>
        <div class="form-group">
          <label>Mot de passe</label>
          <input type="text" class="form-control" ng-model="user.motdepasse" placeholder="Mot de passe">
        </div>
       
        <button type="submit" class="btn btn-default">Enregistrer</button>
      </form>
    </div>
    </div>
  </div>
</div>