<a href="#/users">Liste des clients</a>
<div class="panel panel-default" ng-init="getUser()">
  <div class="panel-heading">
    <h3 class="panel-title">{{user.prenom}} {{user.nom}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="{{user.image_url}}">
      </div>
      <div class="col-md-8">
        <ul class="list-group">
           <li class="list-group-item">Type : {{user.type}}</li>
          <li class="list-group-item">Sexe : {{user.sexe}}</li>
          <li class="list-group-item">Age : {{user.age}}</li>
          <li class="list-group-item">N° de compte courant : {{user.compte_courant}}</li>
           <li class="list-group-item">N° de compte Livret A : {{user.livret_a}}</li>
          <li class="list-group-item">Nom d'utilisateur : {{user.identifiant}}</li>
           <li class="list-group-item">Mot de passe : {{user.motdepasse}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="pull-right">
  <a href="#/users/edit/{{user._id}}">Modifier</a> |  <a href="#" ng-click="removeUser(user._id)">Delete</a>
</div>