<div class="panel panel-default" ng-init="getUsers()">
  <div class="panel-heading">
    <h3 class="panel-title">Liste des utilisateurs</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="user in users">
    		<div class="col-md-6">
    			<div class="col-md-6">
    				<h4>Prenom : {{user.prenom}}</h4>
    				<p>Nom : {{user.nom}}</p>
                    <p>Age : {{user.age}}</p>
                    <p>Sexe : {{user.sexe}}</p>
                    <p>N° compte courant: {{user.compte_courant}}</p>
                    <p>N° compte Livret A: {{user.livret_a}}</p>
                    <p>Nom d'utilisateur : {{user.identifiant}}</p>
                    <p>Mot de passe : {{user.motdepasse}}</p>
    				<a class="btn btn-primary" href="#/users/details/{{user._id}}">Voir plus de details</a>
    			</div>
    			<div class="col-md-6">
    				<img class="thumbnail" src="{{user.image_url}}">
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>